@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.bg-fe{
  background-image: url(/bg.jpg);
  background-size: cover;
  background-position: top center;
}

.videoRatio1{
  max-width: 1000px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}


/* CHOOOSE */
.choose{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  position: relative;
  /* width: 100%; */
  width: fit-content;
  margin: 1rem 0;
}
.choose li{
  display: block;
  position: relative;
  margin-right: 1rem;
  /* width: 33.333%; */
  width: 250px;
}
@media only screen and (max-width: 1023px) {
  .choose li{
    width: 110px;
    margin-right: .15rem;
  }
}
.choose li:last-child{
  margin-right: 0;
}
.choose li label{
  border: 2px solid transparent;
  box-shadow: 3px 3px 0px 0px transparent;
  transition: all ease 300ms;
  width: 100%;
}
.choose li label p{display: none;}
.choose [type="radio"]:checked,
.choose [type="radio"]:not(:checked) {
    position: absolute;
    left: 0;top: 0;
    opacity: 0;
}

.choose [type="radio"]:checked + label{
  /* border-color: #fff;
  box-shadow: 3px 3px 0px 0px #fff; */
  transform: scale(1.02);
}

.choose [type="radio"]:checked + label,
.choose [type="radio"]:not(:checked) + label
{
    position: relative;
    cursor: pointer;
    display: inline-block;
    color: #fff;
}
.choose [type="radio"]:checked + label:before,
.choose [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
    opacity: 0;
}
.choose [type="radio"]:checked + label:after,
.choose [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 20px;
    height: 20px;
    background: #fff;
    border: 3px solid #000;
    position: absolute;
    top: 10px;
    right: 12px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.choose [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.choose [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.choose.mod12{
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.choose.mod12 li{
  display: block;
  position: relative;
  margin-right: 0;
  width: 50%;
  /* width: 250px; */
}
.choose.mod12 label{
  padding: 0;
  position: relative;
}
.choose.mod12 [type="radio"]:checked + label{
  transform: scale(1) !important;
  /* border-color: #fff; */
}
.choose.mod12 [type="radio"]:not(:checked) + label img:first-child{
  opacity: 1;
}
.choose.mod12 [type="radio"]:not(:checked) + label img:last-child{
  opacity: 0;
}
.choose.mod12 [type="radio"]:checked + label img:first-child{
  opacity: 0;
}
.choose.mod12 [type="radio"]:checked + label img:last-child{
  opacity: 1;
  transform: scale(1.05) !important;
}
.choose.mod12 li label img{
  /* border: 6px solid transparent; */
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 450ms;
}
.choose.mod12 [type="radio"]:checked + label:after,
.choose.mod12 [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 14px;
  height: 14px;
  background: #fff;
  border: 3px solid #000;
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* ANIMATIONS */
@keyframes scanning {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-175%);
  }
}

@keyframes countdown {
  0% {
    transform: translateY(35%);
  }
  30% {
    transform: translateY(35%);
  }
  35% {
    transform: translateY(0%);
  }
  60% {
    transform: translateY(0%);
  }
  65% {
    transform: translateY(-35%);
  }
  90% {
    transform: translateY(-35%);
  }
  100% {
    transform: translateY(-35%);
  }
}

.animate-scanning {
  animation: scanning 1000ms ease infinite alternate;
}

.animate-countdown {
  animation: countdown 3500ms ease 1 alternate;
}
